
/* Nav Bar */
#navbar-wrap .nav-container {
  display: block;
}

#navbar-wrap .small-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

/* Main */
main .main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

main section .content-wrap .main-container article:first-child {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / span 1;
  justify-content: center;
  align-items: center;
}

main section .content-wrap .main-container article:last-child {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / span 1;
  justify-content: center;
  align-items: center;
}

/* Service */
#service {
  background: #999;
  padding-bottom: 2rem;
}
.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  grid-gap: 1rem;
}

/* Contact */
section .contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}